@page "/account/identity/auth"

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mt-5">
                <a href="/account/identity/signIn" class="btn btn-success btn-lg mr-3">Register</a>
                <a href="/account/identity/login" class="btn btn-primary btn-lg">Login</a>
            </div>
        </div>
    </div>
</div>

@code {

}
